@charset "UTF-8";

@media screen and (min-width: 390px) and (max-width: 450px){
    * {
        font-size: 1.1em;
    }
    .calculadora {
        width: 95vw;
        height: 450px;
        margin-left: 3px;
        margin-top: 0px;
    }

    div#display {
        width: 88vw;
        font-size: 2em;
    }

    .botoes {
        width: 82px;
    }
}

@media screen and (min-width: 450px) and (max-width: 650px) {
    .calculadora {
        width: 95vw;
        height: 600px;
    }

    div#display {
        width: 90vw;
        height: 130px;
    }
}
